// DropDown
.el-dropdown-menu {
    padding: 6px 0;

    .el-dropdown-menu__item {
        line-height: 32px;
    }
}
.el-submenu {
    .el-submenu__icon-arrow {
        transform-origin: center;
        font-size: 16px;
    }
}
